{% extends "base.html" %}

{% block title %}
    {{ product['name'] }}
{% endblock %}

{% block content %}
<body>
    <div class="container mt-5 mb-4">
      <div class="row">
        <div class="col">
        <h2 class="mb-4 text-success" style="width:100%; text-align: center;">Cách chăm sóc sen đá</h2>
          <p style="width:100%; text-align: center;"><em>Đăng ngày 15/02/2023 bởi Van Thuy Dang</em></p>
          <img  class="img-fluid mb-3 mt-3" src="{{ url_for('static', filename='images/care_senda.png') }}" alt="cacti">
          <div class="post-content">
            <p>Trong các loại cây cảnh, sen đá được nhiều người yêu thích vì vẻ ngoài độc đáo và vô cùng đáng yêu. Trồng sen đá không quá phức tạp. Nếu đang muốn có những chậu sen đá nhỏ xinh cho riêng mình, mời bạn tham khảo một số cách chăm sóc sen đá cực đơn giản dưới đây nhé.</p>

                    <h4>Đặc điểm của cây sen đá</h4>
                    <p>Cây sen đá hay còn gọi là hoa đá hoặc liên đài là một loại cây sống lâu và không cần chăm sóc thường xuyên. Đây là loại cây nhỏ gần như không có thân mà chỉ có lá mọng nước. Bên cạnh đó, hoa đá có thể thích nghi với nhiều loại khí hậu, địa hình và sống quanh năm, khi rụng lá có thể đâm chồi từ lá đó và mọc lên cây mới.</p>

                    <h4>Lưu ý về cách chăm sóc sen đá</h4>
                    <p>Ánh sáng tốt từ mặt trời là một trong những yếu tố quyết định đến sự sinh trưởng và phát triển của cây. Bạn nên để cây ở nơi có ánh sáng vừa phải, không quá râm cũng không quá gắt để cây đủ ánh sáng quang hợp mà không bị cháy lá.</p>

                    <p>Sen đá là cây dễ trồng và không đòi hỏi quá nhiều về chất dinh dưỡng. Tuy nhiên, muốn cây phát triển tốt, ít sâu bệnh thì bạn cần bổ sung thêm những chất dinh dưỡng cần thiết cho cây.</p>

                    <h4>Các lỗi thường gặp khi chăm sóc sen đá</h4>
                    <p>Sen đá là một loại cây cảnh mini được nhiều người yêu thích để trang trí trong không gian sống gia đình. Tuy nhiên, nhiều người khi áp dụng sai cách chăm sóc sen đá lại khiến cho chúng trở nên khô héo và rụng dần đi.</p>

                    <h5>1. Sai lầm khi phơi sen đá tắm nắng quá nhiều</h5>
                    <p>Đối với sự phát triển của cây, ánh sáng mặt trời luôn đóng vai trò cực kỳ quan trọng. Bởi vì là nguồn giúp cho cây có thể tiến hành quá trình quang hợp để tạo ra chất hữu cơ hỗ trợ cho quá trình sinh trưởng của cây. Tuy nhiên, ánh sáng từ mặt trời cũng ảnh hưởng không kém. Do đó, bạn không nên để sen đá tắm nắng vào những thời gian cường độ ánh sáng mạnh như giữa trưa, vì việc này sẽ dễ khiến cây bị khô héo, sạm đen và cháy nắng.</p>

                    <h5>2. Trồng sen đá bằng hạt</h5>
                    <p>Một trong những cách chăm sóc sen đá sai lầm của người mới bắt đầu, chính là áp dụng trồng sen đá bằng hạt. Trong khi, việc nhân giống thành nhiều cây con bằng phương pháp tách lá từ cây mẹ cực kỳ đơn giản và dễ thực hiện. Đặc biệt, bạn nên chọn giống cây sen đá nhiều lá cứng cáp, mọng nước và sinh trưởng tốt, không bị úng sẽ giúp tỉ lệ thành công của bạn rất cao.</p>

                    <h5>3. Chậu trong trồng không có lỗ thoát nước</h5>
                    <p>Cây sen đá phải được trồng trong chậu có lỗ thoát nước. Nếu không, rễ cây nhanh chóng bị úng thối nếu đất quá ẩm ướt. </p>
                    <h5>4. Chọn sai loại đất trồng sen đá</h5> 
                    <p>Sen đá sẽ thối và chết nếu bị để trong đất ẩm ướt quá lâu. Khi bạn mua cây từ cửa hàng, sen đá thường được trồng trong đất chứa nhiều nước và ẩm ướt suốt thời gian dài. 

Thay vì giữ lại loại đất này, để sự phát triển của cây tốt bạn phải thay hoàn toàn đất mới để cây thoát nước tốt hơn. Đá perlite, đá nham thạch, xỉ than tổ ong, than củi là những loại đá thể không thể thiếu khi trộn đất trồng sen đá, vì nó có khả năng hút nước nhanh, tạo thông thoáng và chống lụt cho sen đá rất tốt.</p>
                    <h4>Chi tiết cách chăm sóc sen đá</h4>
                    <p>
                        Sau khi gỡ các lớp giấy bọc sen đá thì bạn cần xếp chậu sen đá vào vị trí mát. 

✦
Không nên để cây dưới ánh nắng trực tiếp vì có thể làm sen đá bị cháy nắng. 

✦
Dùng bình xịt hơi thổi đi lớp bụi bám trên cây. Các bạn có thể dùng cọ mềm để quét lớp đất bám trên lá nếu có. 

✦
Chú ý, chúng ta nên cẩn thận và nhẹ tay tránh làm gãy nhánh hay trầy xước lá.
                    </p>
                    <h4>Cách tưới nước cho sen đá</h4>
                    <p>Cung cấp lượng nước vừa phải là yếu tố quyết định đến sự phát triển sen đá khi mới mua về. 

                        ✦
                        Trong điều kiện khuất nắng, bạn không nên tưới nước lên lá của cây vì điều này có thể làm lá của sen đá bị úng. Từ 3 đến 5 ngày, bạn nên tưới một lần và nên tưới vào gốc của cây, làm như vậy sẽ giúp sen đá phát triển tốt hơn. 
                        
                        ✦
                        Nên sử dụng bình tưới có vòi dài để dễ dàng kiểm soát lượng nước khi tưới. Tưới thành giọt sẽ giúp nước có thể ngấm đều vào đất hơn. Không nên sử dụng các loại bình xịt phun sương khi tưới nước cho sen đá. Nên tưới nước vào buổi sáng và tránh tưới buổi trưa hoặc đầu giờ chiều.</p>
                        <p>Trên đây là một vài lưu ý và hướng dẫn chi tiết về cách chăm sóc sen đá khi mới mua về. Cleanipedia hi vọng rằng bài viết trên đã cung cấp cho các bạn độc giả những thông tin bổ ích để có thể tự tay chăm sóc cho cây sen đá của mình tại nhà.</p>
                <img  class="img-fluid mb-3 mt-3" src="{{ url_for('static', filename='images/care_cactus2.png') }}" alt="cacti">
            <a href="/tips/care_cactus" class="text-success mb-5">Cách chăm sóc xương rồng -></a>
          </div>
        </div>
      </div>
    </div>

    
{% endblock %}